.button {
    
    padding: 10px 20px;
    margin-left: 1px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: papayawhip;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .button:hover {
    background-color: #d5910b;
  }
  
  .button:active {
    background-color: #e1ab08;
  }
  